{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
<h2>Register:</h2>
<form method="POST">
  {{form.hidden_tag()}}
  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-row">
      {{field.label}}
      {{field}}
    </div>
    {% for err in field.errors %}
    <div class="error-row">
      <div class="spacer"></div>
      <div class="error-div">{{err}}</div>
    </div>
    {% endfor %}
  {% endfor %}
  <div class="form-row">
    <div class="spacer"></div>
    <div class="button-div">
      <button type="submit" class="button b-success">Register</button>
    </div>
  </div>
</form>
{% endblock %}